
# ==========================================
# CONFIGURAÇÕES DO SPRING BOOT
# ==========================================
# Aponta para o container oracle-db na rede interna do Docker Compose
SPRING_DB_URL=jdbc:oracle:thin:@//oracle-db:1521/XEPDB1
SPRING_DDL_AUTO=update
SPRING_SHOW_SQL=true
SPRING_POOL_MAX=10
SPRING_POOL_MIN=2

APP_DB_USER=
ORACLE_PWD=
SPRING_DB_URL=
SPRING_POOL_MAX=1
SPRING_POOL_MIN=1